@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Prata';
  src: url('../assets/fonts/Prata-Regular.ttf') format('truetype');
  font-weight: 400;
}
