/* Start Header section */

.header {
  width: 1164px; /* Temporary */
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.header__logo {
  display: flex;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 23px;
}

.header__nav-link {
  color: var(--color-black);
  opacity: 0.7;
  font-size: 14px;
  text-decoration: none;
}

.header__socials {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__socials-icon {
  width: 40px;
  height: 40px;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.header__socials-icon.whatsapp {
  background-image: url('../assets/images/svg/WhatsApp.svg');
}

.header__socials-icon.telegram {
  background-image: url('../assets/images/svg/Telegram.svg');
}

.header__socials-icon.viber {
  background-image: url('../assets/images/svg/Viber.svg');
}

.lang-selector {
  padding: 10px 14px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

/* End Header section */

/* Start Summary section */

.summary {
  padding-top: 100px; /* To compensate fixed header height */
  padding-bottom: 25px;
  min-height: 600px;
  background: url('../assets/images/summary-bg.jpg') no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.summary__photo {
  height: 643px;
}

.summary__photo img {
  height: 643px;
  position: absolute;
  right: 0;
  bottom: -25px;
}

.summary__photo-mobile {
  display: none;
}

.summary__content {
  width: 570px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.summary__content-degree {
  font-size: 32px;
  line-height: 140%;
}

.summary__content-name {
  padding: 16px 0;
  font-size: 85px;
  line-height: 120%;
}

.summary__content-description {
  padding-bottom: 32px;
  font-size: 16px;
  line-height: 160%;
}

.about {
  display: flex;
  justify-content: space-between;
}

.about > li:not(:first-child) {
  padding: 0 24px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.about__label {
  font-size: 16px;
  line-height: 160%;
  opacity: 0.5;
}

.about__value {
  font-family: 'Prata';
  font-size: 28px;
  line-height: 160%;
}

.flex-empty {
  height: 100px;
}

@media only screen and (max-width: 991px) {
  .summary__content {
    width: 400px;
    justify-content: center;
  }

  .summary__content-degree {
    font-size: 32px;
    line-height: 140%;
  }
  
  .summary__content-name {
    font-size: 52px;
    line-height: 120%;
  }

  .summary__photo img {
    right: -100px;
  }

  .about {
    display: none;
  }

  .flex-empty {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .summary__photo img {
    right: -150px;
  }
}

@media only screen and (max-width: 599px) {
  .summary {
    background: var(--color-summary-bg);
  }

  .summary__content {
    width: unset;
  }

  .summary__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .summary__photo {
    display: none;
  }

  .summary__photo-mobile {
    display: block;
  }

  .summary__content-degree {
    font-size: 24px;
    line-height: 140%;
  }
  
  .summary__content-name {
    font-size: 42px;
    line-height: 120%;
  }

  .btn-group {
    flex-direction: column;
  }
}

/* End Summary section */
