/* Start Header section */

.header {
  padding: 18px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-scrolled {
  background-color: var(--color-white);
}

.header__burger {
  width: 220px;
  display: none;
  z-index: 50;
}

.header__burger-btn {
  width: 32px;
  height: 32px;
  background-image: url('../assets/images/svg/menu.svg');
  border: none;
  cursor: pointer;
}

.header__burger-btn.active {
  background-image: url('../assets/images/svg/cross.svg');
}

.header__logo {
  display: flex;
  z-index: 50;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 23px;
}

.header__nav-listitem.title {
  display: none;
}

.header__nav-link {
  color: var(--color-black);
  opacity: 0.7;
  font-size: 14px;
  text-decoration: none;
}

.header__nav-link:active,
.header__nav-link:hover {
  opacity: 1;
}

.header__socials {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__socials-icon {
  width: 40px;
  height: 40px;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.header__socials-icon.whatsapp {
  background-image: url('../assets/images/svg/WhatsApp.svg');
}

.header__socials-icon.telegram {
  background-image: url('../assets/images/svg/Telegram.svg');
}

.header__socials-icon.viber {
  background-image: url('../assets/images/svg/Viber.svg');
}

.lang-selector {
  padding: 10px 14px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

/* End Header section */

/* Start Summary section */

.summary {
  padding-top: 78px; /* To compensate fixed header height */
  padding-bottom: 25px;
  min-height: 600px;
  background: url('../assets/images/summary-bg.jpg') no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.summary__photo {
  height: 643px;
}

.summary__photo img {
  height: 643px;
  position: absolute;
  right: 0;
  bottom: -25px;
}

.summary__photo-mobile {
  display: none;
}

.summary__content {
  width: 570px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.summary__content-degree {
  font-size: 32px;
  line-height: 140%;
}

.summary__content-name {
  padding: 16px 0;
}

.summary__content-description {
  padding-bottom: 32px;
  font-size: 16px;
  line-height: 160%;
}

.about {
  display: flex;
  justify-content: space-between;
}

.about > li:not(:first-child) {
  padding: 0 24px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.about__label {
  font-size: 16px;
  line-height: 160%;
  opacity: 0.5;
}

.about__value {
  font-family: 'Prata';
  font-size: 28px;
  line-height: 160%;
}

.flex-empty {
  height: 100px;
}

/* End Summary section */

/* Start About Details Section */

.about-details {
  background-color: var(--color-about-bg);
}

.about-details__container {
  padding: 80px 25px 60px;
  width: 100%;
  display: flex;
  gap: 50px;
}

.about-details__title-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-details__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-details__paragraph {
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
}

.about-details__list {
  margin-left: 13px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* End About Details Section */

/* Start Quote Section */

.quote {
  background: url('../assets/images/bg-quote.png') no-repeat var(--color-gray-bg);
  background-position: top left 50px;
}

.quote__container {
  display: flex;
  align-items: center;
}

.quote__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.quote__content-label {
  font-size: 16px;
}

.quote__content-text {
  font-size: 31px;
  line-height: 140%;
}

.quote__image-tablet {
  display: none;
}

/* End Quote Section */

/* Start Services Section */

.services {
  padding: 70px 0;
}

.services__container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.services__content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 15px;
  line-height: 160%;
}

.services__content-list {
  margin-left: 13px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* End Services Section */

/* Start Patients Section */

.patients {
  padding: 80px 0;
  background-color: var(--color-gray-bg);
}

.patients p {
  font-size: 15px;
  line-height: 160%;
}

.patients__container {
  display: flex;
  gap: 50px;
}

.patients__common {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.patients__stage-subtitle {
  margin-left: 15px;
  padding-left: 30px;
  display: flex;
  position: relative;
  border-left: 3px solid var(--color-primary);
  font-size: 18px;
  font-weight: 600;
  line-height: 180%;
}

.patients__stage-subtitle::before {
  content: url('../assets/images/svg/circle.svg');
  margin-right: 15px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: -17.5px;
  background-color: var(--color-gray-bg);
}

.patients__stage-content {
  margin-left: 15px;
  padding-left: 30px;
  padding-bottom: 20px;
  border-left: 3px solid var(--color-primary);
}

.patients__stage-content.no-border {
  border-left: none;
}

.patients__stage-list {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.patients__button-container {
  padding-left: 45px;
}

/* End Patiens Section */

/* Start Reviews Section */

.reviews {
  padding: 60px 25px;
}

.reviews__slider-container {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.reviews__slider-container > .slider {
  width: 80%;
}

.reviews .review-card {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}

.reviews .review-card__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 180%;
}

.reviews .review-card__text {
  font-size: 15px;
  line-height: 160%;
}

.reviews .review-card__author {
  color: var(--color-gray);
  font-size: 15px;
  line-height: 160%;
}

/* End Reviews Section */

/* Start Partners Section */

.partners {
  padding: 60px 0;
}

.partners__title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partners__slider-container {
  margin-top: 30px;
}

.partners-slider {
  width: 100%;
}

.partners-slider .slick-list {
  padding-bottom: 20px;
}

.partners-slider .slick-track {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.partners__link {
  color: var(--color-black);
  text-decoration: none;
}

.partner-card {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 2px solid var(--color-gray-100);
  border-radius: 16px;
}

.partner-card > img {
  max-width: 200px;
  max-height: 200px;
  align-self: center;
}

.partner-card__label-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.partner-card__name {
  font-size: 15px;
  font-weight: 600;
  line-height: 160%;
}

.partner-card__location {
  display: inline-flex;
  gap: 5px;
  color: var(--color-gray);
  font-size: 14px;
  line-height: 160%;
}

.partner-card__location::before {
  content: url('../assets/images/svg/pin.svg');
}

/* End Partners Section */

/* Start Certificates Section */

.certificates {
  padding: 60px 0;
}

.certificates__title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.certificates__slider-container {
  margin-top: 30px;
}

.certificates-slider {
  width: 100%;
}

.certificates-slider .slick-list {
  padding-bottom: 20px;
}

.certificates-slider .slick-track {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.certificate-card {
  padding: 24px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  border: 2px solid var(--color-gray-100);
  border-radius: 16px;
}

.certificate-card__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.certificate-card__img-container > img {
  max-width: 200px;
  max-height: 200px;
  align-self: center;
}

.certificate-card__label {
  font-size: 15px;
  font-weight: 600;
  line-height: 160%;
}

/* End Certificates Section */

/* Start Contacts Section */

.contacts {
  padding: 60px 0;
  background: var(--color-contacts-bg);
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.contacts__title {
  margin-bottom: 20px;
}

.contacts__content,
.contacts__main-list,
.contacts__socials,
.contacts__socials-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contacts__link {
  color: var(--color-btn-primary);
  font-size: 18px;
  line-height: 160%;
  text-decoration: none;
}

.contacts__link:active,
.contacts__link:hover {
  text-decoration: underline;
}

.contacts__socials-name {
  font-size: 13px;
  line-height: 160%;
}

.contacts__socials-icon {
  width: 32px;
  height: 32px;
}

.contacts__socials-link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: var(--color-black);
  text-decoration: none;
}

.contacts__socials-link:active,
.contacts__socials-link:hover {
  color: var(--color-btn-primary-active);
}

.contacts__map {
  width: 650px;
}

.contacts__map > iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* End Contact Section */

/* Start Footer */

footer {
  padding-top: 80px;
  padding-bottom: 35px;
  background: url('../assets/images/bg-waves.png') var(--color-footer) no-repeat;
  background-position: top right;
  color: var(--color-white);
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__content-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__license-text {
  width: 273px;
}

.footer__content-contact {
  display: flex;
  gap: 24px;
}

.footer__subtitle {
  padding-bottom: 16px;
  font-family: 'Prata';
  font-size: 24px;
  line-height: 120%;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__contact-link {
  color: var(--color-white);
  font-size: 18px;
  line-height: 160%;
  text-decoration: none;
}

.footer__contact-link:active,
.footer__contact-link:hover {
  text-decoration: underline;
}

.footer__socials-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__socials-name {
  font-size: 13px;
  line-height: 160%;
}

.footer__socials-icon {
  width: 32px;
  height: 32px;
}

.footer__socials-link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: var(--color-white);
  text-decoration: none;
}

.footer__socials-link:active,
.footer__socials-link:hover {
  color: var(--color-btn-primary-active);
}

/* End Footer */

@media only screen and (max-width: 1199px) {
  /* Start Header section */

  .header__logo {
    width: 120px;
  }

  .header__nav-list {
    gap: 15px;
  }

  .header__nav-link {
    font-size: 13px;
  }

  /* End Header section */
}

@media only screen and (max-width: 991px) {
  /* Start Header section */

  .header__logo {
    width: auto;
  }

  .header__logo.positioned {
    position: absolute;
    top: 50px;
    left: calc(50% - 73px);
  }

  .header__nav.open {
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-summary-bg);
  }

  .header__nav.open > .header__nav-list {
    padding-top: 160px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
  }

  .header__nav.open .header__nav-link {
    font-size: 28px;
  }

  .header__nav.open .header__nav-listitem.title {
    display: block;
    font-size: 24px;
    color: var(--color-gray);
  }

  .header__nav-list {
    gap: 23px;
  }

  .header__nav-link {
    font-size: 14px;
  }

  .header__burger {
    display: block;
  }

  .header__nav {
    display: none;
  }

  /* End Header section */

  /* Start Summary section */

  .summary__content {
    width: 400px;
    justify-content: center;
  }

  .summary__content-degree {
    font-size: 32px;
    line-height: 140%;
  }

  .summary__photo img {
    right: -100px;
  }

  .about {
    display: none;
  }

  .flex-empty {
    display: none;
  }

  /* End Summary section */

  /* Start About Details Section */

  .about-details__container {
    flex-direction: column;
    gap: 24px;
  }

  .about-details__title-container {
    flex-direction: column-reverse;
  }

  .about-details__image {
    margin: 0 auto;
    width: 80%;
  }

  /* End About Details Section */

  /* Start Quote Section */

  .quote__content-text {
    font-size: 24px;
  }

  .quote__image-desktop {
    display: none;
  }

  .quote__image-tablet {
    display: block;
  }

  /* End Quote Section */

  /* Start Services Section */

  .services {
    padding: 60px 0;
  }

  .services__container {
    flex-direction: column;
  }

  .services__content {
    max-width: unset;
  }

  /* End Services Section */

  /* Start Patiens Section */

  .patients {
    padding: 70px 0;
  }

  .patients__container {
    flex-direction: column;
  }

  /* End Patiens Section */

  /* Start Reviews Section */

  .reviews__slider-container > .slider {
    width: 100%;
  }

  /* End Reviews Section */

  /* Start Contacts Section */

  .contacts {
    padding-top: 0;
  }

  .contacts__container {
    padding: 0;
    flex-direction: column-reverse;
    gap: 42px;
  }

  .contacts__contact-info {
    padding: 0 25px;
  }

  .contacts__content {
    flex-direction: row;
  }

  .contacts__main-list {
    min-width: 350px;
  }

  .contacts__map {
    width: 100%;
    height: 500px;
  }

  /* End Contacts Section */

  /* Start Footer */

  .footer {
    padding-top: 40px;
  }

  .footer__content {
    padding: 0;
    padding-bottom: 30px;
    flex-direction: column;
    gap: 24px;
  }

  .footer__license-text {
    width: 100%;
  }

  .footer__rights {
    display: flex;
    gap: 20px;
  }

  /* End Footer */
}

@media only screen and (max-width: 767px) {
  /* Start Header section */

  .header__burger {
    width: 120px;
  }

  /* End Header section */

  /* Start Summary section */

  .summary__photo img {
    right: -150px;
  }

  /* End Summary section */

  /* Start Quote Section */

  .quote__container {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .quote__image {
    display: none;
  }

  /* End Quote Section */
}

@media only screen and (max-width: 599px) {
  /* Start Header section */

  .header__burger {
    width: auto;
  }

  .header__socials > li:not(:last-child) {
    display: none;
  }

  .header__nav.open {
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-summary-bg);
  }

  /* End Header section */

  /* Start Summary section */

  .summary {
    background: var(--color-summary-bg);
  }

  .summary__content {
    width: unset;
  }

  .summary__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .summary__photo {
    display: none;
  }

  .summary__photo-mobile {
    display: block;
  }

  .summary__content-degree {
    font-size: 24px;
    line-height: 140%;
  }

  .btn-group {
    flex-direction: column;
  }

  /* End Summary section */

  /* Start About Details Section */

  .about-details__image {
    width: 100%;
  }

  .about-details__btn-container > button {
    width: 100%;
  }

  /* End About Details Section */

  /* Start Patients Section */

  .patients {
    padding: 60px 0;
  }

  .patients__button-container {
    padding-left: 0;
  }

  .patients__button-container > button {
    width: 100%;
  }

  /* End Patients Section */

  /* Start Contacts Section */

  .contacts__content {
    flex-direction: column;
  }

  .contacts__main-list {
    min-width: unset;
  }

  /* End Contacts Section */

  /* Start Footer */

  .footer__content-main {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .footer__content-contact {
    flex-direction: column;
  }

  .footer__rights {
    flex-direction: column;
    gap: 0;
  }

  /* End Footer */
}
