/* Start Header section */

.header {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.header__burger {
  width: 220px;
  display: none;
  z-index: 50;
}

.header__burger-btn {
  width: 32px;
  height: 32px;
  background-image: url('../assets/images/svg/menu.svg');
  border: none;
  cursor: pointer;
}

.header__burger-btn.active {
  background-image: url('../assets/images/svg/cross.svg');
}

.header__logo {
  display: flex;
  z-index: 50;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 23px;
}

.header__nav-listitem.title {
  display: none;
}

.header__nav-link {
  color: var(--color-black);
  opacity: 0.7;
  font-size: 14px;
  text-decoration: none;
}

.header__socials {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__socials-icon {
  width: 40px;
  height: 40px;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.header__socials-icon.whatsapp {
  background-image: url('../assets/images/svg/WhatsApp.svg');
}

.header__socials-icon.telegram {
  background-image: url('../assets/images/svg/Telegram.svg');
}

.header__socials-icon.viber {
  background-image: url('../assets/images/svg/Viber.svg');
}

.lang-selector {
  padding: 10px 14px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}

/* End Header section */

/* Start Summary section */

.summary {
  padding-top: 100px; /* To compensate fixed header height */
  padding-bottom: 25px;
  min-height: 600px;
  background: url('../assets/images/summary-bg.jpg') no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.summary__photo {
  height: 643px;
}

.summary__photo img {
  height: 643px;
  position: absolute;
  right: 0;
  bottom: -25px;
}

.summary__photo-mobile {
  display: none;
}

.summary__content {
  width: 570px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.summary__content-degree {
  font-size: 32px;
  line-height: 140%;
}

.summary__content-name {
  padding: 16px 0;
  font-size: 85px;
  line-height: 120%;
}

.summary__content-description {
  padding-bottom: 32px;
  font-size: 16px;
  line-height: 160%;
}

.about {
  display: flex;
  justify-content: space-between;
}

.about > li:not(:first-child) {
  padding: 0 24px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.about__label {
  font-size: 16px;
  line-height: 160%;
  opacity: 0.5;
}

.about__value {
  font-family: 'Prata';
  font-size: 28px;
  line-height: 160%;
}

.flex-empty {
  height: 100px;
}

/* End Summary section */

/* Start About Details Section */

.about-details {
  background-color: var(--color-about-bg);
}

.about-details__container {
  padding: 80px 25px 60px;
  width: 100%;
  display: flex;
  gap: 50px;
}

.about-details__title-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

h2.about-details__title {
  font-size: 64px;
  font-weight: 400;
  line-height: 120%;
}

.about-details__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-details__paragraph {
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
}

.about-details__list {
  margin-left: 13px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about-details__listitem {
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  list-style-image: url('../assets/images/svg/ellipsis.svg');
}

.about-details__listitem > span {
  margin-left: 10px;
  display: block;
}

/* End About Details Section */

/* Start Quote Section */

.quote {
  background: var(--color-gray-bg);
}

.quote__bg {
  position: absolute;
  left: 55px;
}

.quote__container {
  display: flex;
  align-items: center;
}

.quote__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.quote__content-label {
  font-size: 16px;
}

.quote__content-text {
  font-size: 31px;
  line-height: 140%;
}

.quote__image-tablet {
  display: none;
}

/* End Quote Section */

/* Start Services Section */

.services {
  padding: 70px 0;
}

.services__container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.services__title {
  font-size: 64px;
  line-height: 120%;
}

.services__content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 15px;
  line-height: 160%;
}

.services__content-list {
  margin-left: 13px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.services__content-listitem {
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  list-style-image: url('../assets/images/svg/ellipsis.svg');
}

.services__content-listitem > span {
  margin-left: 10px;
  display: block;
}

/* End Services Section */

@media only screen and (max-width: 1199px) {
  /* Start Header section */

  .header__logo {
    width: 120px;
  }

  .header__nav-list {
    gap: 15px;
  }

  .header__nav-link {
    font-size: 13px;
  }

  /* End Header section */
}

@media only screen and (max-width: 991px) {
  /* Start Header section */

  .header__logo {
    width: auto;
  }

  .header__logo.positioned {
    position: absolute;
    top: 50px;
    left: calc(50% - 73px);
  }

  .header__nav.open {
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-summary-bg);
  }

  .header__nav.open > .header__nav-list {
    padding-top: 160px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
  }

  .header__nav.open .header__nav-link {
    font-size: 28px;
  }

  .header__nav.open .header__nav-listitem.title {
    display: block;
    font-size: 24px;
    color: var(--color-gray);
  }

  .header__nav-list {
    gap: 23px;
  }

  .header__nav-link {
    font-size: 14px;
  }

  .header__burger {
    display: block;
  }

  .header__nav {
    display: none;
  }

  /* End Header section */

  /* Start Summary section */

  .summary__content {
    width: 400px;
    justify-content: center;
  }

  .summary__content-degree {
    font-size: 32px;
    line-height: 140%;
  }
  
  .summary__content-name {
    font-size: 52px;
    line-height: 120%;
  }

  .summary__photo img {
    right: -100px;
  }

  .about {
    display: none;
  }

  .flex-empty {
    display: none;
  }

  /* End Summary section */

  /* Start About Details Section */

  .about-details__container {
    flex-direction: column;
    gap: 24px;
  }

  .about-details__title-container {
    flex-direction: column-reverse;
  }

  h2.about-details__title {
    font-size: 48px;
  }

  .about-details__image {
    margin: 0 auto;
    width: 80%;
  }

  /* End About Details Section */

  /* Start Quote Section */

  .quote__content-text {
    font-size: 24px;
  }

  .quote__image-desktop {
    display: none;
  }

  .quote__image-tablet {
    display: block;
  }

  /* End Quote Section */

  /* Start Services Section */

  .services {
    padding: 60px 0;
  }

  .services__container {
    flex-direction: column;
  }

  .services__content {
    max-width: unset;
  }

  h2.services__title {
    font-size: 48px;
  }

  /* End Services Section */
}

@media only screen and (max-width: 767px) {
  /* Start Header section */

  .header__burger {
    width: 120px;
  }

  /* End Header section */

  /* Start Summary section */

  .summary__photo img {
    right: -150px;
  }

  /* End Summary section */

    /* Start Quote Section */

    .quote__container {
      padding-top: 64px;
      padding-bottom: 64px;
    }

    .quote__image {
      display: none;
    }
  
    /* End Quote Section */
}

@media only screen and (max-width: 599px) {
  /* Start Header section */

  .header__burger {
    width: auto;
  }

  .header__socials > li:not(:last-child) {
    display: none;
  }

  .header__nav.open {
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-summary-bg);
  }

  /* End Header section */

  /* Start Summary section */

  .summary {
    background: var(--color-summary-bg);
  }

  .summary__content {
    width: unset;
  }

  .summary__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .summary__photo {
    display: none;
  }

  .summary__photo-mobile {
    display: block;
  }

  .summary__content-degree {
    font-size: 24px;
    line-height: 140%;
  }
  
  .summary__content-name {
    font-size: 42px;
    line-height: 120%;
  }

  .btn-group {
    flex-direction: column;
  }

  /* End Summary section */

  /* Start About Details Section */

  h2.about-details__title {
    font-size: 36px;
  }

  h2.services__title {
    font-size: 36px;
  }
  
  .about-details__image {
    width: 100%;
  }

  .about-details__btn-container > button {
    width: 100%;
  }

  /* End About Details Section */
}
