:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #707070;
  --color-btn-primary: #720d1e;
  --color-btn-primary-active: #9c1a30;
  --color-summary-bg: #eaeaea;
  --color-about-bg: #fdf6f7;
  --color-gray-bg: #f3f3f3;
}